body{
    margin: 0;
    font-size: 14px;
    background-color: #ffffff;
    text-align: center;
}
a{
    text-decoration: none;
}
ul{
    padding: 0;
    list-style: none;
}
.btn{
    cursor:pointer;
}
.clearfix::after {
    content:"";
    display:table;
    clear: both;
}